version : "3.9"

services : 
  nginx : 
    image : nginx:latest
    ports : 
      - "80:80"
    networks:
      - core 
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - auth-service
      - class-service
      - student-service

  auth-service:
    build : ./auth-service
    networks:
      - core
    depends_on:
      - mongo
    restart : on-failure
    env_file:
      - ./auth-service/.env

  class-service:
    build : ./class-service
    networks:
      - core
    depends_on:
      - mongo
    restart : on-failure
    env_file:
      - ./class-service/.env

  student-service:
    build : ./student-service
    networks:
      - core
    depends_on:
      - mongo
    restart : on-failure
    env_file:
      - ./student-service/.env

  mongo:
    image : mongo:6
    restart : always
    ports : 
      - "27017:27017"
    volumes :
      - student-management:/data/db
    networks:
      - core

networks:
  core:
    driver: bridge

volumes:
  student-management: