apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: video-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata: 
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth
          image: diwakar5041/auth-service:1.0
          ports:
            containerPort: 3001
          envFrom:
            - configMapRef:
                name: auth-config
            - secretRef:
                name: auth-secret

